@import url("../Fonts/WEB/css/satoshi.css");
.header {
  font-family: Satoshi-Regular;
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -0.02em;
}
.copyright {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.logo-head {
  font-family: Satoshi-Regular;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.4px;
  color: #ffffff;
}
.logo-text {
  font-family: Satoshi-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
.footer-link-head {
  font-family: Satoshi-Regular;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #d0d5dd;
}
.footer-links {
  font-family: Satoshi-Regular;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #eaecf0;
}
.email-btn {
  font-family: Satoshi-Regular;
  font-size: 11.16px;
  font-weight: 500;
  line-height: 16.75px;
  color: #ffffff;
  background-color: #6f3b4d;
  width: 160px;
  height: 44.66px;
  padding: 11.16px 16.75px 11.16px 16.75px;
  border-radius: 41.87px;
  opacity: 0px;
}
.email-input {
  width: 187.2px;
  height: 44px;
  gap: 6px;
  border-radius: 60px;
  opacity: 0px;
  font-family: Satoshi-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #667085;
  padding: 10px 14px 10px 14px !important;
}
.ride-with-us {
  font-family: Satoshi-Regular;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: #101828;
}
.ride-with-us-text {
  font-family: Satoshi-Regular;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.for-riders-head {
  font-family: Satoshi-Regular;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
}
.for-riders-title {
  font-family: Satoshi-Regular;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: #101828;
}
.for-riders-base {
  font-family: Satoshi-Regular;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #333333;
}
.for-riders-learn-more {
  font-family: Satoshi-Regular;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #000;
  width: 179px;
  height: 64px;
  padding: 16px 24px 16px 24px;
  border-radius: 60px;
  opacity: 0px;
  background-color: #fafafa;
}
.for-riders-learn-more-action {
  font-family: Satoshi-Regular;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  width: 225px;
  height: 64px;
  padding: 16px 24px 16px 24px;
  border-radius: 60px;
  opacity: 0px;
}
.for-riders-schedule {
  font-family: Satoshi-Regular;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #101828;
}
.for-riders-schedule-text {
  font-family: Satoshi-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
}
.index-hero-img {
  background-image: url(../images/index-hero-img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.nav-links {
  font-family: Satoshi-Regular;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.6px;
  color: #000;
}
.active-link {
  border-bottom: 2px solid #4b0a20;
}
.index-hero-header {
  font-family: Satoshi-Regular;
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -0.02em;
  color: #101828;
}
.login-text {
  font-family: Satoshi-Regular;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
