.feature-head {
    width: 100%;
}
.feature-hero {
    width: 100%;
    position: relative;
}
.feature-hero img {
    width: 100%;
}
.feature-hero p {
    color: #fff;
    font-size: 3rem;
    position: absolute;
    top: 8vh;
    left: 14vw;
    font-weight: 700;
}



.main-body {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.feature-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.feature-container {
    width: 65%;
    margin-left: 30px;
}
.feature-header  {
    width: inherit;
}
.feature-header p {
    font-size: 20px;
    font-weight: 700;
    color:rgba(153, 0, 52, 1);
}
.feature-header h3 {
    font-weight: 700;
    color: rgba(16, 24, 40, 1);
    font-size: 2.5rem;
}
.feature-header-subtext {
    color: rgba(51, 51, 51, 1);
    font-weight: 400;
}

.feature-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.feature-body-container {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.feature-body-card {
    border-left: thick solid rgb(163, 167, 174);
    padding: 20px;
}
.card-pink-border {
    border-left: thick solid rgba(153, 0, 52, 1);
}
.feature-body-card h3 {
    font-weight: 700;
}
.feature-body-card p {
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    
}

.feature-body-img  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-body-img img {
    width: 100%;
    
}
.driver-arrange{
    flex-direction: row-reverse;
}

@media ( max-width : 768px) {
    .feature-body-img {
        display: none;
    }
    .feature-container {
        width: 90%;
    }
    .feature-hero p {
        top: 5vh;
        left: 4vw;
        font-size: 2rem;
    }
}
@media (min-width: 168px) and (max-width: 1024px) {.feature-body-img {visibility: collapse; display: none;
}}